@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ACM</h1>
    <p>This is where the annoucements should go! Right as soon as you open the page</p>
    
</div>
